.react-select,
.react-select__control {
  display: inline-block;
  width: calc(32px + 20vw) !important;
  height: 3.44rem;
  border-radius: 0 !important;
  border: none !important;
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  z-index: 100;
}

.react-select__value-container {
  padding: 0;
  z-index: 100;
}

.react-select__menu {
  width: calc(32px + 20vw) !important;
  border-radius: 0 !important;
  border: none !important;
  z-index: 1000;
  color: var(--secondary-color);
}
